<!-- navbar beginning -->
<nav>
  <div class="nav-wrapper">
    <img src="./../img/coding_dojo.png"><!-- Coding Dojo log -->
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li ng-if='app.settings.user_level <= 5'><a class='mdi-action-account-circle' ng-href="/#user/{{app.settings.user_id}}">Profile</a></li>
      <li><a class='mdi-action-dashboard' href="/#/dashboard">Dashboard</a></li>
      <li><a class='mdi-action-settings-applications' ng-href="/#/settings">Settings</a></li>
      <li><a class='mdi-navigation-arrow-back' ng-click="app.functions.log_out()">Log off</a></li>
    </ul>
    <div class='nav-drop'>
      <i class='mdi-navigation-more-vert right '>
        <ul class='nav-drop-group right'>
          <li ng-if='app.settings.user_level <= 5'><a class='mdi-action-account-circle' ng-href="/#user/{{app.settings.user_id}}">Profile</a></li>
          <li><a class='mdi-action-dashboard' href="/#/dashboard">Dashboard</a></li>
          <li><a class='mdi-action-settings-applications' ng-href="/#/settings">Settings</a></li>
          <li><a class='mdi-navigation-arrow-back' ng-click="app.functions.log_out()">Log off</a></li>
        </ul>
      </i>
    </div>
  </div>
</nav><!-- navbar end -->

<!-- main container -->
<div ng-if='app.topics.length <= 0' class='container'>
  <div class="center">
  <h1 class='orange'>You don't yet have any topics.</h1>
    <p class='teal'>Add a new topic to start yourself off!</p>
    <a ng-href="/#/topic/add" class='btn btn-floating blue' id='add-topic'><i class='mdi-content-add'></i></a>
  </div>
</div>
<div ng-if='app.topics.length > 0' class='container' id="topics_container">

  <!-- server error message -->
  <p ng-if="app.settings.message !== null" ng-bind="app.settings.message"></p>
    <h3 class='center teal-text' ng-if='app.settings.user_id != app.settings.page_id'>{{app.user.name}}'s topics</h3>
    <h3 class='center teal-text' ng-if='app.settings.user_id == app.settings.page_id'>My topics</h3>
    <img class='circle' ng-src="../assets/users/{{app.settings.page_id}}/{{app.user.file_name}}" />
  <!-- add topic button -->
  <div>
    <div class="row">
      <div ng-if='app.settings.user_id != app.settings.page_id' class='col s4 m4'>
          <a href="/#/dashboard"><label for='back'>Dashboard</label></a>
          <a ng-href="/#/dashboard" class='btn btn-floating blue left' id='back'><i class='mdi-navigation-arrow-back'></i></a>
      </div>
      <div ng-if='app.settings.user_id == app.settings.page_id' class='col s4 m4'>
          <a href="/#/topic/add"><label for='add-topic'>Add topic</label></a>
          <a ng-href="/#/topic/add" class='btn btn-floating red left' id='add-topic'><i class='mdi-content-add'></i></a>
      </div>
      <div class='col s4 m4'>
           <p class='center'>Gradtuation Date: {{app.user.graduation | date:"MMM, yyyy "}} <br/> {{app.user.location}} Cohort</p>
      </div>
      <div class='col s4 m4'>
         <input type="text" ng-model="app.forms.search" placeholder="&#xF002;" class='right'/>
      </div>
    </div>
  </div>
  <!-- ng-repeat for topics -->
  <h4 class='center red-text'ng-if='(app.topics | filter:app.forms.search).length == 0'>No Results</h4>
<div class='btn btn-cool row' ng-repeat="t in app.topics | filter:app.forms.search">
          <a href="/#/topic/{{t.topic_id}}">
      <!-- icon depending on topic type -->
      <div class='col s12 m12 l1 icon-grp'>
          <i class='mdi-action-description' ng-if="t.type=='resume'"><span>V{{t.latest_version}}</span></i>
          <i class='mdi-image-photo' ng-if="t.type=='image'"><span>V{{t.latest_version}}</span></i>
      </div>

    <!-- title & description -->
    <div class='col s12 m12 l6 title-desc'>
      <h4>{{t.title | limitTo: 20 }}{{t.title.length > 20 ? '...' : ''}}:<span ng-class="{'orange-text bold': t.status == 'reviewed', 'red-text bold': t.status == 'enqueue', 'teal-text bold': t.status == 'completed' }">{{t.status}}</span></h4>
    </div>

    <!-- topic stats -->
    <div id='topic-stats' class='col s12 m12 l5'>
          <i ng-if='t.is_public === false' class='mdi-action-lock-outline'></i>
          <i ng-if='t.is_public === true' class='mdi-action-lock-open'></i>
      <i class='mdi-action-visibility'>
        <span>{{t.views}}</span>
      </i>
      <i class='mdi-image-slideshow'>
        <span>{{t.videos}}</span>
      </i>
      <i class='mdi-communication-comment'>
        <span>{{t.posts}}</span>
      </i>
    </div>
  </a>
  <div class='row'>
    <div class="col s12 desc">
      <p>{{t.description | limitTo: 150 }}{{t.description.length > 150 ? '...' : ''}}</p>
      </div>
    </div>
  </div>

</div>
