<!-- navbar beginning -->
  <nav>
    <div class="nav-wrapper">
      <img src="./../img/coding_dojo.png"><!-- Coding Dojo log -->
      <ul id="nav-mobile" class="right right hide-on-med-and-down">
        <li ng-if='app.settings.user_level <= 5'><a class='mdi-action-account-circle' ng-href="/#/user/{{app.settings.user_id}}">Profile</a></li>
        <li><a class='mdi-action-dashboard' href="/#/dashboard">Dashboard</a></li>
        <li><a class='mdi-action-settings-applications' ng-href="/#/settings">Settings</a></li>
        <li><a class='mdi-navigation-arrow-back' ng-click="app.functions.log_out()">Log off</a></li>
      </ul>
    <div class='nav-drop'>
  <i class='mdi-navigation-more-vert right '>
    <ul class='nav-drop-group right'>
      <li ng-if='app.settings.user_level <= 5'><a class='mdi-action-account-circle' ng-href="/#/user/{{app.settings.user_id}}">Profile</a></li>
      <li><a class='mdi-action-dashboard' href="/#/dashboard">Dashboard</a></li>
      <li><a class='mdi-action-settings-applications' ng-href="/#/settings">Settings</a></li>
      <li><a class='mdi-navigation-arrow-back' ng-click="app.functions.log_out()">Log off</a></li>
    </ul>
  </i>
</div>
    </div>
  </nav>
<!-- navbar end -->
<!-- main content container -->
<div class='container'>
  <div class="errors teal-text center">
      <h4 ng-bind='app.settings.top_message'></h4>
  </div>
  <!--  update email  -->
  <form name="app.forms.emailForm" ng-submit="app.functions.submitForm(app.forms.emailForm.$valid, 'email')" novalidate>
    <h4>Update Email</h4>
    <label for="email">
      <h6>Email:</h6>
      <!-- email error messages -->
      <div class="error_msg right" ng-messages="app.forms.emailForm.email.$error" ng-if="app.forms.emailForm.$submitted || !app.forms.emailForm.email.$pristine">
        <h6 ng-message="required" class="help-block">Email is required.</h6>
        <h6 ng-message="pattern"  class="help-block">Email is invalid.</h6>
      </div><!--end email error messages -->

    </label>
    <input type="email" ng-model="app.forms.email" ng-pattern="app.patterns.email" name="email" id='email' required/>
    <button type="submit" class="btn">Update Email</button>
  </form>
  <!--  update email  -->

  <form name="app.forms.passwordForm" ng-submit="app.functions.submitForm(app.forms.passwordForm.$valid, 'password')" novalidate>
    <div class='row'>
      <div class="col s12 m6">

        <h4>Update Password</h4>
        <label for='password'>
          <h6>Password:</h6>
          <!-- password input error messages -->
          <div class='error_msg right' ng-messages="app.forms.passwordForm.password.$error" ng-if="app.forms.passwordForm.$submitted || !app.forms.passwordForm.password.$pristine">
            <h6 ng-message="required" class="help-block">Password is required</h6>
            <h6 ng-message="minlength" class="help-block">Password is too short</h6>
            <h6 ng-message="maxlength" class="help-block">Password is too long</h6>
            <h6 ng-message="pattern"   class="help-block">Password can contain letters and numbers only</h6>
          </div>
          <!-- password input error messages -->
        </label>
        <input type="password" ng-model="app.forms.pass.password" ng-change="app.functions.isMatch()" ng-pattern="app.patterns.password" ng-minlength="6" ng-maxlength="72" name="password" id='password' required/>
      </div>
      <div class="col s12 m6">
        <h4>Confirm Password:</h4>
        <label for='confirm'>
          <h6>Confirm:</h6>
          <div class='error_msg right' ng-messages="app.forms.passwordForm.confirm.$error" ng-if="app.forms.passwordForm.password.$valid && !app.forms.passwordForm.confirm.$pristine">

            <h6 ng-message="required" class="help-block">Confirmation is required.</h6>
            <h6 ng-message="match"    class="help-block">Password doesn't match</h6>
          </div>
        </label>
        <input type="password" ng-model="app.forms.pass.confirm" ng-change="app.functions.isMatch()" name="confirm" id='confirm' required/>
      </div>
    </div>
    <button type="submit" class="btn btn-info">Update Password</button>
  </form>

<!-- update profile-pic form -->

  <form name="app.forms.picForm" ng-submit="app.functions.submitForm(app.forms.picForm.$valid, 'pic')" novalidate>
          <h4>Update Profile Pic</h4>
      <button id='file' class='btn btn-file' ng-class="{red : app.forms.profile.pic.name == 'no file chosen'}">
      <span id='file' ng-bind='app.forms.profile.pic.name'></span>
        <input type="file" ng-model="app.forms.profile.pic" file-model="app.forms.profile.pic" name="pic" required/>
    </button>
    <button type="submit" class="btn mdi-image-portrait orange darken-2">Update</button>
    <i class="fa fa-circle-o-notch fa-spin"></i>
  </form>
<!-- end update profile-pic form -->
<hr/>
<h4 ng-if='app.settings.user_level <=5' class='center'>Current Topics</h4>
<h4 ng-if='app.settings.user_level ==10' class='center'>Admin Privileges</h4>

  <table ng-if="app.settings.user_level < 10" class='table hoverable responsive-table'>
      <div class="error-container center">
            <h4  ng-if="app.settings.bottom_message !== null && app.settings.user_level < 10" ng-bind="app.settings.bottom_message"></h4>
      </div>
    <thead>
      <tr>
        <th>Title</th>
        <th>Version</th>
        <th>Status</th>
        <th>Public</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="t in app.topics">
        <td><a ng-href="/#/topic/{{t.topic_id}}">{{t.title}}</a></td>
        <td ng-bind="t.latest_version">4</td>
        <td>Revised</td>
        <td ng-if="t.is_public == true">Yes</td>
        <td ng-if="t.is_public == false">
          <a ng-click="app.functions.update_privacy($index)">Make public</a>
        </td>
        <td><a ng-click="app.functions.delete_topic($index)">Delete</a></td>
      </tr>
    </tbody>
  </table>

  <table ng-if="app.settings.user_level === 10" class='table striped responsive-table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
      <!--# Server error message -->
      <div class="error-container center">
        <h4  ng-if="app.settings.bottom_message !== null && app.settings.user_level === 10" ng-bind="app.settings.bottom_message"></h4>
      </div>
      <!-- ng-repeat for table body defines user's name, email and admin setting -->
      <tr ng-repeat="row in app.table">
        <td ng-bind="row.name"></td>
        <td ng-bind="row.email"></td>
        <td>
            <!-- input to set user to user level  -->
            <input type="radio" id="no[{{$index}}]" ng-click='app.functions.update_admin($index, 1)' name="view[{{$index}}]" ng-checked="row.user_level == 1" class="switch-input">
            <label for="no[{{$index}}]" class="switch-label switch-label-off">No</label>
            <!-- input to set user to admin level  -->
            <input type="radio" id="yes[{{$index}}]"  ng-click='app.functions.update_admin($index, 5)' name="view[{{$index}}]" ng-checked="row.user_level == 5" class="switch-input">
            <label for="yes[{{$index}}]" class="switch-label switch-label-on">Yes</label>
            <!-- <span class="switch-selection"></span> -->
        </td>
      </tr><!-- end ng-repeat  -->
    </tbody>
  </table>
</div><!-- End main content container -->
