* {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* h4 {
  font-size: 20px;
}
* h5 {
  font-size: 15px;
}
.help-block {
  color: #f79771 !important;
  margin: 0;
}
label {
  color: black;
  padding: 2%;
}
label .error_msg,
label h6 {
  display: inline-block;
}
label .error_msg {
  margin-left: 15px;
}
.error-container {
  color: #1dacd6;
  margin: -25px 0px 25px 0px;
  padding: 0;
  height: 15px;
}
.error-container h4 {
  margin: 0;
  padding: 0;
}
.btn-file {
  display: block;
  position: relative;
  overflow: hidden;
  color: white;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.btn-group {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn-group #grp-1 .btn-filter {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.btn-group #grp-2 .btn-filter {
  border-radius: 0px;
}
.btn-group #grp-3 .btn-filter {
  border-radius: 0px;
}
.btn-group #grp-4 .btn-filter {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.btn-group p {
  margin-bottom: 0;
}
.btn-group p:hover {
  cursor: pointer;
}
#topics_container input[type="text"] {
  position: relative;
  margin-right: 13px;
  width: 65%;
  font-family: 'FontAwesome';
}
#topics_container img {
  display: block;
  margin: 0 auto 0 auto;
  height: 80px;
  width: 80px;
}
#topics_container .btn-cool {
  height: 100%;
  width: 100%;
  white-space: normal;
  background: #1dacd6;
  border: 1px solid #1788a9;
  line-height: normal;
}
#topics_container .btn-cool:active {
  background: #1996bb;
}
#topics_container .btn-cool:hover {
  background: #1ca5cd;
  border: 1px solid rgba(1, 70, 140, 0.9);
}
#topics_container .btn-cool .icon {
  margin-top: .5%;
}
#topics_container a {
  margin-top: 10px;
  text-decoration: none;
  color: white;
}
#topics_container a label {
  cursor: pointer;
  color: #1dacd6;
}
#topics_container a .title-desc {
  line-height: 12px;
}
#topics_container a .title-desc h4 {
  margin-top: 2.14rem;
  text-align: left;
}
#topics_container a .title-desc i {
  font-size: 35px;
}
#topics_container a .icon-grp {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}
#topics_container a .icon-grp i {
  font-size: 3.3rem;
}
#topics_container a .icon-grp i span {
  position: absolute;
  width: 2rem;
  border-radius: 10px;
  background-color: #ee001d;
  display: block;
  margin-left: -9px;
  font-size: 17px;
  margin-top: -53px;
}
#topics_container a .icon-grp div {
  position: absolute;
  display: block;
  margin-top: 51px;
  margin-left: -206px;
}
.desc p {
  text-align: left;
}
#topic-stats {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}
#topic-stats i {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  font-size: 3.3rem;
}
#topic-stats i span {
  position: absolute;
  width: 2rem;
  border-radius: 10px;
  background-color: #ee001d;
  display: block;
  margin-left: -11px;
  font-size: 17px;
  margin-top: -53px;
}
.wrapper {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.enqueue {
  box-shadow: 1.25px 1.25px 1.25px 1.25px #ee001d;
  border: 1px solid #ee001d;
}
.enqueue i {
  color: #ee001d;
}
.reviewed {
  box-shadow: 1.5px 1.5px 1.5px 1.5px #f36229;
  border: 1px solid #f36229;
}
.reviewed i {
  color: #f36229;
}
.started {
  box-shadow: 1.5px 1.5px 1.5px 1.5px #fffb00;
  border: 1px solid #fffb00;
}
.started i {
  color: #fffb00;
}
.completed {
  box-shadow: 1.5px 1.5px 1.5px 1.5px #22ae4b;
  border: 1px solid #22ae4b;
}
.completed i {
  color: #22ae4b;
}
hr {
  content: '';
  height: 0px;
  width: 100%;
  box-shadow: none !important;
}
.dash-posts {
  padding: 1%;
  margin-top: 25px;
  width: 95vw;
  height: 100%;
  background: #2b2b2b;
}
.topic {
  color: white;
  margin: 2% 0;
  margin-bottom: 1.5%;
  height: 10%;
  display: inline-block;
}
.topic h4 {
  text-align: center;
  font-size: 20px;
}
.topic p {
  text-align: center;
  font-size: 15px;
}
.topic #top-cont {
  padding: 2%;
  height: 380px;
  background: #000000;
}
.topic #top-cont:hover {
  cursor: pointer;
  background: #141414;
}
.topic a {
  color: white !important;
}
.topic a:hover {
  text-decoration: none;
}
.topic .topic_owner_link {
  color: #4485f3 !important;
}
.topic .topic_owner_link:hover {
  color: white !important;
}
.topic-wrap {
  border: 2px dotted #1dacd6;
  margin-left: 15%;
  margin-top: 5%;
  padding: 2%;
  height: 25em;
  width: 85%;
  overflow-y: scroll;
  position: absolute;
  display: inline-flex;
}
ul li {
  display: block;
}
nav {
  background: #29282d;
  position: relative;
  padding: .3%;
  border-radius: 0px !important;
  height: 70px;
}
nav img {
  position: absolute;
  height: 65px;
  width: 100px;
}
nav ul {
  margin-top: 15px;
  margin-left: 16px;
  list-style: none;
  padding-left: 0;
}
nav ul li a:hover {
  color: #1dacd6;
}
nav ul img {
  display: inline-flex;
  height: 65px;
  width: 100px;
}
nav  a {
  color: #1dacd6;
}
nav  a:hover {
  text-decoration: none;
  color: white;
}
nav .empty {
  width: 95%;
}
nav .nav-links {
  height: 21px;
}
nav .right {
  line-height: 28px;
}
nav input {
  vertical-align: bottom !important;
  display: inline-block;
}
nav .empty input[type="text"] {
  font-family: 'FontAwesome';
  font-style: normal;
}
nav a,
nav button {
  display: inline !important;
}
nav [type="radio"]:not(:checked) + label:before {
  border: 2px solid ghostwhite;
}
.nav-drop {
  display: none;
}
.nav-drop i {
  font-size: 30px;
}
#left-page {
  margin-top: 30px;
}
video {
  width: 100%;
  height: 75vh;
}
object {
  width: 100%;
  height: 75vh;
}
.pst {
  margin-left: 10%;
  margin-top: 15px;
  width: 92%;
}
.cmt {
  margin-left: 11%;
  margin-top: 15px;
  width: 92%;
}
.new_post {
  margin-top: 30px;
}
.new_post h6 {
  margin-left: 38px;
}
.new_post input {
  margin-left: auto;
  margin-right: auto;
  width: 89%;
  display: inline-block !important;
  color: #1dacd6;
}
.new_post .btn-p {
  display: inline-block;
  position: relative;
  background-color: #ee001d !important;
}
.new_post .btn-c {
  display: inline-block;
  background: #4485f3 !important;
}
.posts {
  clear: both;
  color: ghostwhite;
  padding-top: 0px !important;
  width: 100%;
  height: 75vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.posts .post {
  background: #1788a9;
  margin-left: auto;
  margin-right: 3%;
  margin-top: 3%;
  line-height: 15px;
  border-radius: 30px 30px 30px 0px;
  box-shadow: 2px 2px 4px #888;
  padding: 2%;
  height: auto;
  width: auto;
}
.posts .comment {
  background: #22ae4b;
  margin-top: 3%;
  float: right;
  line-height: 15px;
  border-radius: 30px 30px 0px 30px;
  box-shadow: 2px 2px 4px #888;
  padding: 2%;
  height: auto;
  width: 90%;
}
.posts img {
  margin-right: auto;
  height: 80px;
  width: 80px;
}
.fa-5x {
  font-size: 80px !important;
}
#slideout {
  display: inline;
  top: 40px;
  left: 0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#slideout i {
  font-size: 60px;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  color: white;
}
#slideout_inner {
  padding: 1%;
  text-align: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 300px;
  min-width: 250px;
  background: rgba(43, 42, 48, 0.95);
  display: inline;
  position: absolute;
  z-index: 1000;
  top: -600px;
  left: 50%;
  margin-left: -150px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#slideout_inner div {
  line-height: 24px !important;
}
#slideout_inner form {
  margin-top: 5%;
}
#slideout_inner form h4 {
  color: white;
}
#slideout_inner hr {
  border: 1px solid white;
  outline: none;
}
#slideout_inner .btn {
  width: 100%;
}
#slideout:hover #slideout_inner {
  top: -10px;
}
.timeline {
  white-space: nowrap;
  overflow-x: scroll;
  padding: 30px 0 10px 0;
  position: relative;
}
.entry {
  display: inline-block;
  vertical-align: top;
  background: #13519C;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  position: relative;
  border-top: 4px solid #06182E;
  border-radius: 3px;
  min-width: 200px;
  max-width: 500px;
}
.entry img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.entry:after {
  content: '';
  display: block;
  background: #eee;
  width: 7px;
  height: 7px;
  border-radius: 6px;
  border: 3px solid #06182E;
  position: absolute;
  left: 51%;
  top: -30px;
  margin-left: -6px;
}
.entry:before {
  content: '';
  display: block;
  background: #06182E;
  width: 5px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: -20px;
  margin-left: -2px;
}
.entry h1 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.entry h2 {
  letter-spacing: .2em;
  margin-bottom: 10px;
  font-size: 14px;
}
.bar {
  margin-top: 2%;
  height: 4px;
  background: #eee;
  width: 100%;
  position: relative;
  top: 13px;
  left: 0;
}
@media screen and (min-width: 601px) and (max-width: 992px) {
  .btn-cool {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
  }
}
@media screen and (min-width: 460px) and (max-width: 1124px) {
  .nav-wrapper i {
    line-height: initial !important;
  }
  .cmt,
  .pst {
    margin-left: 9%;
    width: 93%;
  }
  .cmt i,
  .pst i {
    font-size: 20px;
  }
}
@media screen and (min-width: 300px) and (max-width: 459px) {
  .nav-drop {
    display: block;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .nav-drop .nav-drop-group {
    position: fixed;
    background: #2b2a30;
    right: -120px;
    top: -12px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .nav-drop .nav-drop-group li {
    float: none;
  }
  .nav-drop:hover .nav-drop-group {
    right: 0px;
  }
  .dash-posts {
    padding: 10%;
  }
  #slideout i {
    font-size: 70px;
    margin-left: -33px;
  }
  .cmt,
  .pst {
    margin-left: 5%;
    width: 93%;
  }
  .cmt i,
  .pst i {
    font-size: 10px;
  }
  .title-desc {
    line-height: 12px;
  }
  .title-desc h4 {
    margin-top: 2.14rem;
    font-size: x-large !important;
    text-align: center !important;
  }
  .title-desc i {
    font-size: 35px;
  }
  #topics_container a .icon-grp i {
    font-size: 4.3rem;
    margin: auto;
  }
}
@media screen and (min-width: 450px) and (max-width: 990px) {
  .nav-drop {
    display: block;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .nav-drop .nav-drop-group {
    position: fixed;
    background: #2b2a30;
    right: -120px;
    top: -11px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .nav-drop .nav-drop-group li {
    float: none;
  }
  .nav-drop:hover .nav-drop-group {
    right: 0px;
  }
  .dash-posts {
    padding: 3%;
  }
  #slideout i {
    font-size: 70px;
    margin-left: -33px;
  }
  .posts {
    height: 300px;
  }
  .title-desc {
    line-height: 12px;
  }
  .title-desc h4 {
    margin-top: 2.14rem;
    font-size: x-large !important;
    text-align: center !important;
  }
  .title-desc i {
    font-size: 35px;
  }
  #topics_container a .icon-grp i {
    font-size: 4.3rem;
    margin: auto;
  }
}
